<accordion>

  <accordion-group heading="Rekening">
    <p><a routerLink="/rekening/list">Daftar Rekening</a></p>
    <p><a routerLink="/rekening/saldo">Informasi Saldo</a></p>
    <p><a routerLink="/rekening/mutasi">Mutasi Rekening</a></p>
  </accordion-group>


  <accordion-group heading="Transaksi">
    <p><a routerLink="/transfer/input">Transfer</a></p>
    <p><a routerLink="/transfer/list">List Transfer</a></p>

  </accordion-group>
  <accordion-group heading="Personalisasi">
    <p>Some content</p>
  </accordion-group>

</accordion>

